<form action="/deleteform" method="POST">
    <input type="text" placeholder="Name" name="name"><br>
    <input type="text" placeholder="Age" name="age"><br>
    <input type="text" placeholder="Mood" name="mood"><br>
    <button type="submit">Delete me!</button>
</form>