<form action="/updateform" method="POST">
    <input type="text" placeholder="Name" name="name"><br>
    <input type="text" placeholder="Age" name="age"><br>
    <input type="text" placeholder="Update Mood" name="mood"><br>
    <button type="submit">Submit update!</button>
</form>